 body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background: linear-gradient(135deg, #e9e936 0%, #96c5dc 100%);
     color: #333;
     text-align: center;
     padding: 20px;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 }

 h1 {
     color: #2c3e50;
     border-bottom: 2px solid #d4a373;
     display: inline-block;
     padding-bottom: 10px;
 }

 .gallery {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 20px;
     margin-top: 30px;
 }

 .photo {
     position: relative;
     width: 310px;
     overflow: hidden;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }

 .photo img {
     display: block;
     width: 100%;
     height: auto;
     width: 100%;
     height: 210px;
     object-fit: cover;
     transition: transform 0.5s;
 }


 .overlay {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: rgba(212, 163, 115, 0.9);
     color: white;
     overflow: hidden;
     width: 100%;
     height: 0;
     transition: 0.5s;
 }

 .photo:hover .overlay {
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .photo:hover img {
     transform: scale(1.1);
 }

 .text {
     padding: 15px;
     font-size: 16px;
 }

 .base {
     max-width: 800px;
     margin: 20px auto;
     line-height: 1.6;
     font-size: 20px;
 }