    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 22px;
        background: linear-gradient(135deg, #48a3ff, #00BFFF);

    }

    h1 {
        text-align: center;
        color: #000000;

    }

    .links {
        border-radius: 20px;
        background-color: rgb(208, 235, 226);
        width: 70%;
        margin: auto;
        padding: 25px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
        margin-bottom: 50px;
    }

    a {
        text-decoration: none;
        color: #0f12b8;
    }

    dt {
        margin-bottom: 15px;
        margin-top: 15px;
        border-radius: 8px;
        padding: 10px;
        font-size: 28px;
    }

    dt:hover {
        background-color: #c3e2ed;
        transform: translateX(6px);
        transition: 0.3s;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    }

    a:hover {
        color: #c52914;
    }

    h3 {
        color: #000000;
        margin-left: 1000px;
        margin-right: 215px;
        border-radius: 15px;
        background-color: rgb(208, 235, 226);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
        padding: 20px;
        font-size: 19px;
    }

    h3:hover {
        transform: scale(1.04);
        transition: 0.3s;
    }

    .top {
        color: #0e10a3;
        font-size: 19px;
        text-align: center;

    }

    h2 {
        border-radius: 20px;
        background-color: rgb(208, 235, 226);
        width: 70%;
        margin: auto;
        padding: 25px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
        margin-bottom: 50px;
    }

    .top:hover {
        color: #2b80d5;
        box-shadow: 10px 25px rgba(0, 0, 0, 0.25);
    }

    .up:hover {
        transform: scale(1.04);
        transition: 0.3s;
    }

    dd {
        border-radius: 20px;
        background: linear-gradient(90deg, #25d281, rgb(22, 160, 228) 100%);
        padding: 20px;
    }

    dd:hover {
        filter: hue-rotate(20deg);
        transition: 0.5s;

    }

    img {
        width: 26px;
        height: 26px;
    }

    .ukrnet {
        width: 30px;
        height: 30px;
    }